body {
    background-color: #f8f9fa;
}
.ht-name{
    padding: 20px 0px;
}

.sidebar {
    position: fixed;
    background-color: #343a40;
    color: #ffffff;
    min-height: 100vh;
    width: auto;
    padding-right: 10px; /* Để có đủ không gian cho tên homestay dài */
}

.sidebar a {
    color: #ffffff;
    font-size: 1.2rem; /* Tăng kích thước chữ */
}

.sidebar a.active {
    background-color: #495057;
}

.sidebar .nav-item .nav-link {
    font-size: 1.2rem; /* Tăng kích thước chữ của các mục chính */
}

.sidebar .nav-item .nav-link.submenu {
    font-size: 1rem; /* Kích thước chữ của các mục con */
}

.content {
    padding: 20px;
}

.table th, .table td {
    vertical-align: middle;
}
