
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
}
.hero-section {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('${pageContext.request.contextPath}/img/home/home_banner.jpg') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.navbar-brand img {
    height: 50px;
}
.search {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-select, .form-control, .btn-primary {
    border-radius: 5px;
}
.hotel-card {
    margin-bottom: 30px;
}
.hotel-card img {
    height: 200px;
    object-fit: cover;
}
.container{
    color: grey;
}
.hotel-rating {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.container mt-5{
    background-color: #e9ecef;
}
.card-body {
    position: relative;
}
.navbar-light .navbar-nav .nav-link {
    color: #007bff;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #0056b3;
}
.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hero-content form {
    margin-top: 20px;
}
.card-title a {
    text-decoration: none;
    color: #007bff;
}
.card-title a:hover {
    color: #0056b3;
}

.search-bar {
    margin-top: 100px;
    display: flex;
    align-items: center;
    background-color: #6f6d6a;
    padding: 10px;
    border-radius: 5px;
}
.search-bar input,
.search-bar select,
.search-bar button {
    margin-right: 10px;
}
.search-bar .price-range {
    display: flex;
    align-items: center;
}
.navbar-toggler-icon {
    background-color: #6f6d6a; /* Color of toggler icon */
}
.dropdown-menu {
    background-color: #f8f9fa;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}
.dropdown-item {
    color: #333;
}
.dropdown-item:hover {
    background-color: #e9ecef; /* Background color on hover */
}
 .form-select, .form-control{
                padding-left: 2.5rem; /* Tạo khoảng cách cho biểu tượng */
            }
            .select-wrapper {
                position: relative;
            }
            .select-wrapper .bi-person,
            .select-wrapper .fa-map-marker-alt {
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
            }

